.vscode
kafka_example/**/bin
kafka_example/**/obj
GraphQL_Csharp/**/bin
GraphQL_Csharp/**/obj
GraphQL_Csharp/TodoListGQL/app.db
GraphQL_Csharp/GraphQLNet/app.db
GraphQL_Csharp/GraphQLNet/app.db-wal
GraphQL_Csharp/GraphQLNet/app.db-shm
GraphQL_Csharp/GraphQLHotChocolate/app.db
GraphQL_Csharp/GraphQLHotChocolate/app.db-shm
GraphQL_Csharp/GraphQLHotChocolate/app.db-wal
GraphQL_Node/node_modules
